.nav-segment {
	border: none;
	background-color: var(--color-neutral-1, #f7f7f8);
	height: 3rem;
	border-radius: 0.4rem;
}

.nav-segment .nav-link.active {
	background-color: var(--color-action-primary-active-20, #e6edfb);
	box-shadow: none;
	color: var(--color-neutral-10, #282934);
	opacity: 1;
}

.nav-segment .nav-link {
	color: var(--color-neutral-10, #282934);
	border-radius: 0.25rem;
	font-family: var(--font-family-sans-serif);
	padding-top: 0;
	padding-bottom: 0;
	height: 2.5rem;
	opacity: 0.8;
}
